$primary: #6f27f5;
$font-family-sans-serif: 'SF Pro';

@import 'bootstrap';

@font-face {
	font-family: SF Pro;
	// font-style: normal;
	// font-weight: 400;
	// font-size: 16px;
	// line-height: 24px;
	src: local('SF Pro'), url('fonts/SFProDisplay-Regular.ttf') format('truetype');
}

html {
	background-color: white;
}

body {
	background: none;
}

.card {
	border-radius: 20px;
	border: none;
	background-color: white;
	box-shadow: 0px 4px 22px 10px rgba(111, 39, 245, 0.1);
}

.btn {
	border-radius: 30px;
	height: 36px;
}
